.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  padding: 8px;
  box-sizing: border-box;
}

.li {
  cursor: pointer;
  min-height: 6rem;
  padding: 8px;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "cover title title"
    "cover summary summary"
    "cover others actions";
  grid-column-gap: 8px;
  grid-row-gap: 12px;
  border: 1px solid gray;
}
@media screen and (max-width: 768px) {
  .li {
    grid-template-columns: auto 1fr 2rem;
    grid-template-areas:
      "cover title actions"
      "cover summary actions"
      "others others actions";
  }
  .actions {
    flex-direction: column;
    justify-content: space-around;
  }
  .actions :global(.text) {
    display: none;
  }
}
.li:not(:last-child) {
  margin-bottom: 1rem;
}
.li-read {
  color: gray;
  border-color: #ddd;
}
.li_active {
  border-color: black;
  background-color: #eee;
}

.cover {
  grid-area: cover;
  width: 128px;
}
.cover img {
  max-width: 100%;
  max-height: 6rem;
}
.title {
  grid-area: title;
}
.title a {
  text-decoration: underline;
  font-size: large;
}
.summary {
  grid-area: summary;
  max-height: 4.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.others {
  grid-area: others;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.actions {
  grid-area: actions;
  display: flex;
  gap: 8px;
}
