.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  padding: 8px;
  box-sizing: border-box;
}

.li {
  cursor: pointer;
  min-height: 6rem;
  padding: 8px;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "cover title"
    "cover summary"
    "others others";
  grid-column-gap: 8px;
  grid-row-gap: 12px;
  border: 1px solid gray;
}
.li[data-read] {
  color: gray;
  border-color: #ddd;
}
.li[data-star] {
  border-color: gold;
}
.li[data-active] {
  border-color: black;
  background-color: #eee;
}
.li:not(:last-child) {
  margin-bottom: 1rem;
}
.cover {
  grid-area: cover;
  width: 128px;
}
.cover img {
  max-width: 100%;
  max-height: 6rem;
}
.title {
  grid-area: title;
}
.title a {
  text-decoration: underline;
  font-size: large;
}
.summary {
  grid-area: summary;
  max-height: 4.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.others {
  grid-area: others;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
