.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  padding: 8px;
  box-sizing: border-box;
}

.li {
  cursor: pointer;
  min-height: 6rem;
  padding: 8px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 128px 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "cover title"
    "cover summary"
    "cover others";
  grid-column-gap: 8px;
  grid-row-gap: 0px;
}
@media screen and (max-width: 768px) {
  .li {
    grid-template-areas:
      "cover title"
      "cover summary"
      "others others";
  }
}
.li:not(:last-child) {
  margin-bottom: 1rem;
}
.li-read {
  filter: grayscale(50%);
  opacity: 0.8;
  background-color: #eee;
}
.li_active {
  border: 2px solid #000;
}

.cover {
  grid-area: cover;
}
.cover img {
  max-width: 100%;
  max-height: 6rem;
}
.title {
  grid-area: title;
}
.summary {
  grid-area: summary;
  max-height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.others {
  grid-area: others;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
