.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.scroll {
  flex: 1;
  overflow: auto;
}
.content img {
  max-width: 100%;
  height: auto;
}
.footer {
  display: flex;
  gap: 8px;
}
