.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}
.scroll {
  flex: 1;
  overflow: auto;
}
.content img {
  max-width: 100%;
  height: auto;
}
.footer {
  border-top: 1px solid #666;
  margin-top: 8px;
  padding-top: 4px;
  display: flex;
  gap: 4px;
}
