.root {
  height: 100vh;
}

.sider {
  height: 100%;
  overflow: auto;
}
.sider_handler {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .sider {
    display: none;
  }
  .sider_show {
    display: block;
  }
  .sider_handler {
    display: inline-flex !important;
  }
}
